@font-face {
  font-family: PingFang;
  src: url(font/SOURCEHANSANSCN-MEDIUM.OTF);
}
.page-contain {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
}
section.card {
  width: 98%;
  border-radius: 2px;
  padding: 10px 6px;
  margin: 10px auto;
  background: #fff;
  box-sizing: border-box;
}
section.card .contain {
  margin-top: 10px;
}
h2.title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  background: #3C80F2;
  border-radius: 0px 0px 4px 4px;
  position: relative;
}
h2.title .icon {
  position: absolute;
}
h2.title .icon.right-icon {
  right: 10px;
}
h2.title .icon.left-icon {
  left: 10px;
}
h4.title {
  color: #333333;
  position: relative;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
h4.title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 16px;
  background: #3c80f2;
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
}
.device-content {
  display: flex;
  flex-wrap: wrap;
}
.device-content .van-collapse-item__content {
  padding: 0 10px !important;
}
.device-content li {
  width: calc(50% - 8px);
  min-height: 60px;
  flex-shrink: 0;
  display: flex;
  margin: 3px 4px;
  align-items: center;
  padding: 10px 2px 10px 6px;
  border-radius: 8px;
}
.device-content li > div {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.device-content li > div .name {
  color: #333;
  margin-bottom: 6px;
}
.device-content li > div .value i {
  color: #333;
  opacity: 0.7;
  font-size: 12px;
}
.device-content li > div .status {
  height: 30px;
  margin-left: 10px;
}
.device-content li:first-child > div,
.device-content li:nth-child(2) > div {
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.device-content li:first-child > div .name,
.device-content li:nth-child(2) > div .name {
  margin-bottom: 0;
}
.device-content li:first-child > div span,
.device-content li:nth-child(2) > div span {
  display: flex;
  align-items: center;
}
.device-content li:first-child > div img,
.device-content li:nth-child(2) > div img {
  height: 20px;
}
.device-content li > img {
  height: 30px;
}
.chart {
  width: 100%;
  height: 250px;
}
.choose-date {
  display: flex;
  align-items: center;
  padding-right: 20px;
  background: url(~@/assets/rili.png) right center no-repeat;
  background-size: 20px;
  height: 50px;
}
.choose-date .van-cell {
  padding: 10px 5px;
}
.choose-date .van-cell__value--alone {
  text-align: right;
}
.choose-date > span {
  white-space: nowrap;
}
.list .list-header {
  width: 100%;
  padding: 10px 0;
  background-color: rgba(60, 128, 242, 0.8);
  color: #fff;
  display: flex;
  font-size: 12px;
  text-align: center;
}
.list .list-body .list-item {
  display: flex;
  padding: 4px 0;
}
.list .list-body .list-item:nth-child(odd) {
  background-color: rgba(60, 128, 242, 0.1);
}
.list .list-body .list-item > span:first-child {
  transform: scale(0.9);
}
.list .list-header > span,
.list .list-body .list-item > span {
  font-size: 12px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2;
}
.list .list-header > span i,
.list .list-body .list-item > span i {
  transform: scale(0.8);
}
.list .list-header > span:first-child,
.list .list-body .list-item > span:first-child {
  width: 16%;
  text-align: center;
}
